#page-landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text-in-primary);
  background: var(--color-primary);
}

.logo-container {
  text-align: center;
  margin-bottom: 3.2rem;
}

.logo-container h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-top: 0.8rem;
}

.logo-container img {
  max-width: 20rem;
  height: 10rem;
}

.hero-image {
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem 0;
}

.buttons-container a {
  width: 30rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  font: 700 1.8rem 'Archivo';
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-button-text);
  transition: .2s all;
}

.buttons-container a:first-child {
  margin-right: 1.6rem;
}

.buttons-container a img {
  width: 3rem;
  margin-right: 1.8rem;
}

.buttons-container a.study {
  background: var(--color-primary-lighter);
}

.buttons-container a.give-classes {
  background: var(--color-secondary);
}

.buttons-container a.study:hover {
  background: var(--color-primary-light);
  transition: .2s all;
}

.buttons-container a.give-classes:hover {
  background: var(--color-secondary-dark);
  transition: .2s all;
}

.total-connections {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-connections span {
  margin: 0 .25rem
}

.total-connections img {
  margin-left: 0.8rem;
}

@media (min-width: 1100px) {
  #page-landing-content {
    max-width: 1100px;
    display: grid;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "logo hero hero" "buttons buttons total";
  }
  .logo-container {
    grid-area: logo;
    align-self: center;
    text-align: left;
    margin: 0;
  }
  .logo-container h2 {
    text-align: initial;
    font-size: 3.2rem;
  }
  .logo-container img {
    text-align: initial;
    max-width: 100%;
  }
  .hero-image {
    grid-area: hero;
    justify-content: end;
  }
  .buttons-container {
    grid-area: buttons;
    justify-content: flex-start;
  }
  .buttons-container a {
    font-size: 2.4rem;
    height: 7.4rem;
  }
  .total-connections {
    grid-area: total;
    justify-self: end;
  }
}